<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="py-6 px-8 flex items-center justify-between bg-slate-800">
        <h1 class="text-3xl text-white">Project Management</h1>

        <div class="space-x-4">
            <a href="#" class="text-white">About</a>

            <a href="#" class="py-4 px-8 bg-slate-600 text-white">Login</a>
            <a href="#" class="py-4 px-8 bg-sky-600 text-white">SignUp</a>
        </div>

    </nav>

    <main class="py-6 px-8">

        <h1 class="text-3xl">About</h1>

        <div class=" mt-6 space-y-6">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae nostrum asperiores nam eius,
                voluptatem
                mollitia. Eaque itaque repellendus vitae ullam, quia aut soluta quisquam, dignissimos neque, perferendis
                ea
                voluptates incidunt.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere tempore consectetur, quisquam unde id
                ratione assumenda porro recusandae? Incidunt ut explicabo labore nam expedita libero blanditiis tempora
                sequi, voluptatem provident?
            </p>

        </div>

    </main>

    <footer class="py-8 px-8 bg-slate-900 text-center">
        <p class="text-white">Copyright (c) 2024 - Project Management</p>
    </footer>
</body>

</html>